header {
  padding-left: 50px;
  margin: 0px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
}
.headerh1 {
  margin: 0;
  padding: 10px;
  display: inline-block;
  color: black;
}
.add {
  background: #efefef;
  margin-right: 40px;
  width: 77px;
  font-size: 20px;
  border: 1px solid #d8d8d8;
  color: black;
  display: block;
  border-bottom: 0px;
  padding: 16px;
  border-top: 0px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #d8d8d8;
  font-weight: 100;
}
.footer-name {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
